.main-container {
    // margin-top: 3rem;

    .image__clipath {
        background-image: url('../../assests/images/main.jpg');
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        height: 85vh;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        font-weight: 100;

        @media only screen and (max-width: 1000px) {
            margin-left: 1rem;
        }
    }

    .entradas {
        display: grid;
        grid-template-columns: repeat(auto-fit, 22rem);
        justify-content: center;
        grid-gap: 6rem;
        margin: 3rem 0;

        @media only screen and (max-width: 1000px) {
            margin: 3rem 1rem;
        }
    }
}
